@import '~iview/src/styles/index.less';
@import './github.less';
@import './fontawesome/font-awesome.less';
@import './font.less';

@primary-color: #24292e;

html {
    min-height: 100%;
    width: 100%;
    position: relative;
}

body {
    background: #181a1b;;
    color: #cecac3;;
    min-height: 100%; 
    margin: auto;
    font: 400 1em/1.8 'Open Sans', Helvetica Neue, Helvetica, Arial, PingFang SC, Lantinghei SC, Microsoft Yahei, sans-serif;
}

.isprivate {
    color: #e4c811;
    text-shadow: 0 0 2px #e3deb9;
}

.isexecute {
    color: #2d8cf0;
    text-shadow: 0 0 2px #e3deb9;
}

.ivu-layout {
    background-color: transparent; 
}

a {
    color: inherit;
}

.ivu-alert-info .ivu-alert-icon, .ivu-anchor-link-active>.ivu-anchor-link-title {
    color: #2d8cf0;
}

.ivu-input {
    border-color: #393e40;
    color: #aca49a;
    background-color: #181a1b;
    background-image: none;
}

.ivu-input-group-append .ivu-btn, .ivu-input-group-prepend .ivu-btn {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
}

.ivu-btn {
    background-image: none;
    color: #aca49a;
    background-color: #181a1b;
    border-color: #393e40;
    &:hover {
        background-color: #303436;
        color: inherit;
    }
}

.ivu-btn.disabled, .ivu-btn.disabled.active, .ivu-btn.disabled:active, .ivu-btn.disabled:focus, .ivu-btn.disabled:hover, .ivu-btn[disabled], .ivu-btn[disabled].active, .ivu-btn[disabled]:active, .ivu-btn[disabled]:focus, .ivu-btn[disabled]:hover, fieldset[disabled] .ivu-btn, fieldset[disabled] .ivu-btn.active, fieldset[disabled] .ivu-btn:active, fieldset[disabled] .ivu-btn:focus, fieldset[disabled] .ivu-btn:hover {
    color: #c6c1ba;
    background-color: #1d1f20;
    border-color: #393e40;
}

.ivu-input-group-append .ivu-btn, .ivu-input-group-prepend .ivu-btn {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
}

.ivu-input-group-append, .ivu-input-group-prepend {
    color: #aca49a;
    background-color: #1c1e1f;
    border-color: #393e40;
}

.ivu-input-group-append {
    border-left-color: initial;
}

.ivu-btn-text {
    color: #aca49a;
    background-color: transparent;
    border-color: transparent;
}

.ivu-btn-success {
    color: #FFF;
    background-color: #19be6b;
    border-color: #19be6b;
    &:hover {
        color: #e8e6e3;
        background-color: #2a966e;
    }
}

.ivu-btn-info {
    color: #fff;
    background-color: #2db7f5;
    border-color: #2db7f5;
    &:hover {
        background-color: #0d68a5;
        color: #e8e6e3;
    }
}

.ivu-btn-error {
    color: #fff;
    background-color: #ed4014;
    border-color: #ed4014;
    &:hover {
        color: #ffffff;
        background-color: #f16643;
        border-color: #f16643;
    }
}

.ivu-form-item-error .ivu-input-group-append, .ivu-form-item-error .ivu-input-group-prepend {
    background-color: rgb(24, 26, 27);
}

.ivu-alert-desc {
    color: rgb(172, 164, 154);
}

.ivu-alert-with-desc .ivu-alert-message {
    color: rgb(205, 201, 195);
}

.ivu-alert-error {
    border-color: rgb(136, 40, 0);
    background-color: rgb(66, 24, 0);
}

.ivu-alert-success {
    border-color: rgb(26, 118, 63);
    background-color: rgb(0, 62, 31);
}

.ivu-alert-info {
    border-color: rgb(0, 74, 127);
    background-color: rgb(28, 31, 32);
}

.ivu-alert-warning {
    border-color: rgb(142, 99, 0);
    background-color: rgb(66, 50, 0);
}

ul.ivu-page {
    text-align: center;
    .ivu-page-prev, .ivu-page-next, .ivu-page-item {
        background: transparent;
        a {
            color: #f0f0f0;
        }
    }
    .ivu-page-disabled a, .ivu-page-item-active a {
        color: #515a6e;
    }
}

.ivu-tabs {
    color: #e3e5e8;
}
.ivu-tabs-bar {
    border-bottom: 1px solid #515a6e;
    margin-bottom: 16px;
    .ivu-tabs-ink-bar {
        background-color: #dcdee2;
    }
    .ivu-tabs-nav {
        .ivu-tabs-tab .ivu-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: .8;
        }
        .ivu-tabs-tab-active {
            color: #dcdee2;
        }
    }
}

.ivu-select-dropdown {
    background-color: #24292e;
    .ivu-dropdown-item {
        &:hover {
            background-color: transparent;
            font-weight: bold;
        }
        color: #dcdee2;
    }
}

.ivu-modal-content {
    background-color: #181a1b;
    border-color: initial;
    box-shadow: #00000026 0px 4px 12px;
    .ivu-modal-close {
        color: #a8a095;
    }
    .ivu-modal-header {
        color: rgb(205, 201, 195);
        border-bottom-color: #363a3d;
        p, .ivu-modal-header-inner {
            color: rgb(205, 201, 195);
        }
    }
    .ivu-modal-footer {
        border-top-color: #363a3d;
    }
}

code.hljs {
    padding: 0;
}
.hljs-ln {
    border-spacing: 0;
    .hljs-ln-numbers {
        background-color: #181a1b;
        color: #f0f0f0;
    }
}

.CodeMirror {
    font-family: Consolas, Menlo, Courier, monospace;;
    font-size: .8em;
    line-height: 1.5;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
    font-family: Consolas, Menlo, Courier, monospace;;
}

div.CodeMirror-cursors {
    top: 2px;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background: #f0f0f0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

