@import '~iview/src/styles/index.less';
@import './fontawesome/font-awesome.less';
@import './font.less';

html {
    min-height: 100%;
    width: 100%;
    position: relative;
}

body {
    background: #FFF;
    color: #2b435e;
    min-height: 100%; 
    margin: auto;
    font: 400 1em/1.8 'Open Sans', Helvetica Neue, Helvetica, Arial, PingFang SC, Lantinghei SC, Microsoft Yahei, sans-serif;
}

.ivu-layout {
    background-color: transparent; 
}